<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
        colors="true"
        bootstrap="tests/bootstrap.php"
        beStrictAboutTestsThatDoNotTestAnything="true"
        stopOnError="false"
        stopOnFailure="false"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <testsuites>
        <testsuite name="Queue Suite">
            <directory>tests</directory>
            <exclude>tests/Jobs</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>